<html>
<body>
    <section class="hero is-fullheight is-default is-bold has-background-dark level">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="level-item has text-centered">
                        <div class="image is-48x48">
                            <img src="/images/dice.png" alt="Logo">
                        </div>
                        <div class="has-text-white is-size-1">Trip</div>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    {{#if loggedIn}}
                                    <li><button class="btn has-text-white" id="logout">Logout</button></li>
                                    {{else}}
                                    <li><a href="/login" class="has-text-white">Login</a></li>
                                    {{/if}}
                                    <li><a href="/signup" class="has-text-white">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Take a Trip
                        </h1>
                        <h2 class="subtitle is-4 has-text-white">
                            Would you like to take a trip?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Why not
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            Where would you take a trip?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Japan
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Bahamas
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Sweden
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        England
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What kind of movies do you watch?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Comedy
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Romance
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Horror
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Action
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What is your favorite season?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Spring
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Summer
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Fall
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Winter
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What is your pet choice?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Dog
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Cat
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Fish
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Hamster
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What would be your top hobby?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Reading
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Playing Video Games
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Hiking
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Cooking
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            Favorite zoo animal?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Tiger
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Polar Bear
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Hippo
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Zebra
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What is your favorite snack?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Fruit snacks
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Chips
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Protein bars
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Popcorn
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            What car would you prefer?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Sedan
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        SUV
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Truck/Van
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Bike
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <h2 class="subtitle is-4 has-text-white">
                            Are you sure you want to take this trip?
                            <form>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        Of Course!
                                    </label>
                                </div>
                            </form>
                        </h2>
                        <p class="has-text-centered has-text-white">
                            <button class="button is-medium is-info is-outlined has-text-white submitBtn">
                                Submit
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Sourced from:
        // 
        function shuffleArray(arr) {
            for (let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]];
            }
            return arr;
        }
        const urlString = 'https://www.google.com/search?q='
        const submitBtn = document.querySelector('.submitBtn');
        submitBtn.addEventListener('click', e => {
            e.preventDefault();
            let radios = document.querySelectorAll('.radio');
            let temp = [];
            radios.forEach(radio=>temp.push(radio.children[0]));
            let checked = [];
            temp.forEach((t,i)=>t.checked?checked.push(temp[i].parentElement.textContent.replace(/[\s|\r]/gm,'')):false);
            checked = shuffleArray(checked);
            randomChecked = checked.slice(0,2);
            let search = urlString + randomChecked.join('+');
            let aLink = document.createElement('a');
            aLink.setAttribute('href',search)
            aLink.textContent = search;
            submitBtn.parentElement.appendChild(aLink);
        })
    </script>
</body>


<style>
      :root {
      --background: rgb(25, 25, 25);
      --textDark: white;
      --textLight: white;
    }

      body {
      background: var(--background);
      height: 100vh;
      color: var(--textDark);
    }
    .noHover {
      pointer-events: none !important;
      color: white;
    }

    .radio,
    .radio:hover,
    .radio:focus {
        color: inherit !important;
    }
    
</style>
</html>