<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trip</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/register.css">
  </head>

  <body>
      <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Sign Up</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">Sign up and take a Trip today!</p>
                    <div class="box">
                      <form>
                        <div class="field">
                                <div class="control">
                                    <input id="email-signup" class="input is-large" type="text" placeholder="Your Email" autofocus="">
                                </div>
                        </div>

                        <div class="field">
                                <div class="control">
                                    <input id="password-signup" class="input is-large" type="password" placeholder="Your Password">
                                </div>
                        </div>
                        <p class="has-text-white">
                        <Button id="submit-button">Submit</Button>
                        </p>
                      </form>
                    </div>
 
                </div>
            </div>
        </div>
    </section>
            {{!-- <div class="box">
              <h1 class="text-white">Sign up and take a Trip today!</h1>
              <form>
                <div class="field">
                  <div class="control">
                    <input id="email-signup" class="input is-medium" type="text" placeholder="Email">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input id="password-signup" class="input is-medium" type="password" placeholder="Password">
                  </div>
                </div>
                <button id="submit-button" class="button is-block is-info is-large is-fullwidth">Submit</button>
                <br />
                <small><em>Lorem ipsum dolor sit amet consectetur.</em></small>
              </form>
            </div> --}}
    <script src="/js/signup.js"></script>
  </body>

  <style>
:root {
      --background: rgb(25, 25, 25);
      --textDark: white;
      --textLight: white;
    }

    body {
      background: var(--background);
      height: 100vh;
      color: var(--textDark);
    }

    .box {
      margin-top: 10rem;
      background: rgb(50, 50, 50);
      border-radius: 10px;
    }
  </style>

</html>